body {
  display: flex;
  flex-direction: column;
  min-height:100vh;
  background:#f5f5f5;
}

main{
  flex:1;
}

.inner-navbar{
  background:#ffffff;
  border:1px solid #ddd;
  border-radius:8px;
  padding:12px 20px;
  margin-bottom:20px;
}

.left-menu span{
  margin-right:20px;
  cursor:pointer;
  font-weight:500;
}

.left-menu span:hover{
  color:#0d6efd;
}

.content-box{
  background:#fff;
  padding:25px;
  border-radius:8px;
  min-height:400px;
  border:1px solid #ddd;
}

footer{
  background:#212529;
  color:#fff;
  padding:15px;
  text-align:center;
}

.card-header.bg-primary {
  background-color: #212529 !important;
}